@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  ::selection {
    @apply bg-emerald-200 text-black;
  }

  html {
    @apply max-h-screen text-base antialiased;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }

  body {
    @apply text-slate-900 dark:text-slate-300;
    @apply bg-[#ffffff] dark:bg-[#030303];
    @apply leading-6;
  }

  h1,
  h2,
  h3 {
    @apply text-slate-900 dark:text-slate-300;
    @apply tracking-[-0.4px];
    @apply font-normal;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl mb-4 mt-8;
  }

  h3 {
    @apply text-xl mb-2;
  }

  p {
    @apply text-base leading-7;
  }

  a {
    @apply text-base leading-7;
    @apply text-inherit;
    @apply underline decoration-dotted underline-offset-4 decoration-emerald-400 dark:decoration-emerald-300;
    @apply hover:text-gray-900 dark:hover:text-gray-100;
    @apply outline-none;
  }

  a:focus-visible {
    @apply decoration-solid decoration-emerald-400 dark:decoration-emerald-300;
  }

  a:active {
    @apply text-gray-900 dark:text-gray-100;
  }

  a.no-underline {
    text-decoration: none;
  }

  a.no-underline:focus-visible {
    @apply underline decoration-solid underline-offset-4 decoration-emerald-400 dark:decoration-emerald-300;
  }
}

.intro {
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: -.0125rem;
}
