@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  ::selection {
    @apply bg-blue-400 text-black;
  }

  html {
    @apply max-h-screen text-base antialiased;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }

  body {
    @apply text-slate-900 dark:text-slate-400;
    @apply bg-[#ffffff] dark:bg-[#030303];
    @apply leading-6;
  }

  h1,
  h2,
  h3 {
    @apply text-slate-900 dark:text-slate-300;
  }

  h1 {
    @apply text-2xl font-bold leading-loose;
  }

  h2 {
    @apply text-[1rem] font-medium mb-4 mt-8;
  }

  h3 {
    @apply text-[1.2rem] font-semibold mb-2;
  }

  p {
    @apply text-[1rem] leading-7 text-gray-600 dark:text-gray-400;
  }

  a {
    @apply text-[1rem] leading-7;
  }

  a {
    @apply text-emerald-700 dark:text-emerald-200 hover:text-emerald-800 dark:hover:text-emerald-300;
  }
}

.intro {
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: -.0125rem;
}
