@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  ::selection {
    @apply bg-emerald-200 text-black;
  }

  html {
    @apply max-h-screen text-base antialiased;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }

  body {
    @apply text-slate-900 dark:text-slate-300;
    @apply bg-[#ffffff] dark:bg-[#030303];
    @apply leading-6;
  }

  h1,
  h2,
  h3 {
    @apply text-slate-900 dark:text-slate-300;
  }

  h1 {
    @apply text-2xl font-bold leading-loose;
  }

  h2 {
    @apply text-[1rem] font-medium mb-4 mt-8;
  }

  h3 {
    @apply text-[1.2rem] font-semibold mb-2;
  }

  p {
    @apply text-[1rem] leading-7;
  }

  a {
    @apply text-[1rem] leading-7;
    @apply text-inherit;
    @apply underline underline-offset-4 decoration-gray-300 dark:decoration-gray-600;
    @apply hover:text-gray-900 dark:hover:text-gray-100;
    @apply hover:decoration-gray-400 dark:hover:decoration-gray-500;
  }

  a:active {
    @apply text-gray-900 dark:text-gray-100;
    @apply decoration-gray-400 dark:decoration-gray-500;
  }

  a.no-underline {
    text-decoration: none;
  }
}

.intro {
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: -.0125rem;
}
