.list {
  row-gap: 1.75rem;
}

.row {
  min-height: 3rem;
  margin-inline: -0.75rem;
  padding-inline: 0.75rem;
  line-height: 1.5rem;
}

@media (min-width: 40rem) {
  .list {
    row-gap: 1rem;
  }

  .row {
    min-height: 4.5rem;
    padding-block: 0.75rem;
  }
}
